.cache
.local-aliases
cache
config/asciinema/install-id
config/autostart
config/config.yaml
config/direnv
config/matterhorn/history.txt
irssi/
mpd/database
mpd/log
mpd/pid
mpd/playlists
mpd/state
mpd/sticker.sql
ncmpcpp/error.log
scripts/circonus-agentd
scripts/direnv*
scripts/docker*
scripts/docker-compose*
scripts/git-deep
scripts/install-pkgsrc.sh
scripts/matterhorn
scripts/redis-benchmark
scripts/redis-check-aof
scripts/redis-check-rdb
scripts/redis-cli
scripts/redis-sentinel
scripts/redis-server
scripts/redis-trib.rb
scripts/reload.sh
scripts/sensor.sh
scripts/test-sleep.sh
scripts/test.sh
scripts/zfdtrace.d
src
tmp
tmux
tmux-*.log
config/dlv/
