.cache
cache
src
.local-aliases
tmp
mpd/playlists
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
ncmpcpp/error.log
config/direnv
tmux
scripts/docker-compose*
scripts/direnv*
tmux-*.log
scripts/docker*
config/matterhorn/history.txt
config/asciinema/install-id
config/config.yaml
irssi/
scripts/circonus-agentd
scripts/git-deep
scripts/install-pkgsrc.sh
scripts/matterhorn
scripts/redis-benchmark
scripts/redis-check-aof
scripts/redis-check-rdb
scripts/redis-cli
scripts/redis-sentinel
scripts/redis-server
scripts/redis-trib.rb
scripts/reload.sh
scripts/sensor.sh
scripts/test-sleep.sh
scripts/test.sh
scripts/zfdtrace.d
